/* universal sector  */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

/* developer-name-related styles */
.developer-info {
    display: flex;
    justify-content: space-between;
    margin: 28px 150px 36px 150px;
    align-items: center;
}

.developer-name {
    color: #0D1321;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
}

/* shared styles */
.primary-btn {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 17px 24px;
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    cursor: pointer;
}

/* banner related style  */
.banner-section {
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
    background-size: cover;
    background-position: center;
}

.banner-img {
    display: flex;
    justify-content: center;
    padding: 26px;
}

.banner-heading {
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 32px;
}

.banner-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 45px;
}

.btn {
    background: #0D1321;
    padding: 21px 24px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* why development section styles */
.why-development-section {
    max-width: 1140px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px auto;
}

.why-development-tittle {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 80px 97px 0px 97px;
}

.why-development-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 24px 97px 48px 97px;
}

/* why development card  */
.card-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background: #FFFFFF;
    margin: 0px 97px;
    border-radius: 16px;
}

.card-tittle {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
    margin-right: 185px;
}
.img{
    margin-right: 36px;
}
.card-description {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
    margin-right: 106px;
}

.card-btn {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 12px 20px;
    background: #FFF;
    border-radius: 8px;
    opacity: 0.8;
    border: 1px solid #0D1321;
    cursor: pointer;
}

/* my inspiration style related section */
.my-inspiration-tittle {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 24px;
}

.my-inspiration-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0px 294px 48px 294px;
}

.iframe-section {
    max-width: 1076px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 151px;
}

.iframe-section iframe {
    border: 1px solid rgba(13, 19, 33, 0.20);
    padding: 24px;
    border-radius: 16px;
    width: 1043px;
    height: 500px;
}

/* My Current Target style related section */
.current-card h5,
.current-card-2 h5 {
    color: #0D1321;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    margin: 12px 0px;
}

.current-card p,
.current-card-2 p {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 22px;
}

.current-card a,
.current-card-2 a {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.current-target-tittle {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 24px;
}

.current-target-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0px 294px 48px 294px;

}

.current-card-container {
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0 auto;
    gap: 24px;
    border-radius: 16px;
}

.current-card {
    gap: 24px;
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
}

.current-card-2 {
    gap: 24px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

/* My Next Target styles related section */
.target-card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 49px;
    margin-top: 49px;
}

.target-tittle {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    margin-top: 111px;
}

.target-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 24px 294px;
}

.target-card {
    display: flex;
    gap: 24px;
    width: 1060px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    margin: 0 auto;
    padding: 40px;
}

.target-card-tittle {
    color: #0D1321;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 10px;
}

.target-card-description {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 24px;
}

.target-card-a {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

/* I need Support section  */
.support-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    width: 1160px;
    height: 313px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-tittle {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.support-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 16px;
    margin-bottom: 24px;
}

.input-field {
    color: rgba(13, 19, 33, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 19px 230px 19px 20px;
    border-radius: 8px;
    border: none;
    background: #FFF;
}

.input-btn {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
}

/* footer related styles */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 110px;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
}

.footer-tittle {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}